<table [formGroup]="formGroup">
  <ng-container *ngFor="let section of formStructure.sections">
    <tr>
      <th colspan="2">
        <span>{{section.title}}</span>
      </th>
    </tr>
    <ng-container *ngFor="let item of section.items">
      <ng-container *ngFor="let input of item.input">
        <tr>
          <td>
            <label>{{input.label}}</label>
          </td>
          <td class="text-left">
            <input [formControlName]="input.control" [type]="input.type" />
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </ng-container>
</table>